.links line {
    stroke: #555;
    stroke-opacity: 0.6;
}
.text-align-center {
    text-align: center;
}
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
.intro-header {
    margin-top: 30px;
    text-align: center;
}
.intro-paragraph {
    text-align: center;
    border: 1px solid #999;
    padding: 30px 5px;
    border-radius: 3px;
    height: 100px;
    width: 600px;
    margin: 80px auto 40px auto;
    box-shadow: 0px 3px 6px 1px #999;
}
.intro-button {
    display: block !important;
    margin: 5px auto !important;
    width: 400px;
    font-size: 24px !important;
}
.intro-graph {
    display: block !important;
    margin: 5px auto !important;
    border: 1px solid #555;
    border-radius: 3px;
}
.float-right {
    float: right !important;
}
.intro-two-buttons {
    width: 300px;
    font-size: 20px !important;
}
.text-align-right {
    text-align: right !important;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-200 {
    margin-top: 200px;
}

.margin-left-48 {
    margin-left: 48px;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 43px;
    right: 0;
    bottom: 0;
    left: 16px;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input-eval {
    top: 78px;
    left: 1px;
    margin: 0 20px;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #40e0d0;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}